<div class="container">
  <div class="row">
    <div class="col">

      <h3>Template Driven Form</h3>

      <!--informa ao angular que é um form-->
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <div class="form-group" [ngClass]="aplicaCssErro(nome)">

          <label class="control-label" for="nome">Nome:</label>

          <!--informa com o ngModel e name o valor do campo-->
          <input placeholder="Evillyn Oliveira" type="text" class="form-control" name="nome" [ngModel]="usuario.nome"
            required #nome="ngModel">

          <app-campo-control-erro [mostraErro]="verificaCampos(nome)"></app-campo-control-erro>

        </div>

        <div class="form-group" [ngClass]="aplicaCssErro(email)">

          <label class="control-label" for="email">Email:</label>

          <input placeholder="evillyndsoliveiras@gmail.com" type="email" class="form-control" name="email"
            [ngModel]="usuario.email" required #email="ngModel">

          <app-campo-control-erro [mostraErro]="verificaCampos(email)"></app-campo-control-erro>

        </div>

        <div ngModelGroup="endereco">

          <div class="form-row">
            <div class="form-group" [ngClass]="aplicaCssErro(cep)">

              <label class="control-label" for="cep">CEP:</label>

              <input type="text" class="form-control" name="cep" id="cep" [ngModel]="usuario.cep" required
                #cep="ngModel" (blur)="consultaCEP($event.target.value, f)">

            </div>

            <div class="form-group" [ngClass]="aplicaCssErro(numero)">

              <label class="control-label" for="numero">numero:</label>

              <input type="text" class="form-control" name="numero" [ngModel]="usuario.numero" required
                #numero="ngModel">


            </div>


            <div class="form-group" [ngClass]="aplicaCssErro(rua)">

              <label class="control-label" for="rua">rua:</label>

              <input type="text" class="form-control" name="rua" [ngModel]="usuario.rua" required #rua="ngModel">

            </div>

          </div>

          <div class="form-row">

            <div class="form-group" [ngClass]="aplicaCssErro(bairro)">

              <label class="control-label" for="bairro">bairro:</label>

              <input type="text" class="form-control" name="bairro" [ngModel]="usuario.bairro" required
                #bairro="ngModel">

            </div>


            <div class="form-group" [ngClass]="aplicaCssErro(cidade)">

              <label class="control-label" for="cidade">cidade:</label>

              <input type="text" class="form-control" name="cidade" [ngModel]="usuario.cidade" required
                #cidade="ngModel">
            </div>

            <div class="form-group" [ngClass]="aplicaCssErro(estado)">

              <label class="control-label" for="estado">estado:</label>

              <input type="text" class="form-control" name="estado" [ngModel]="usuario.estado" required
                #estado="ngModel">

            </div>

          </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!f.valid"> Submit</button>

      </form>

    </div>

    <div class="col-md-3">
      <app-form-debug [form]="f"></app-form-debug>
    </div>

  </div>
</div>