<div class="container">

    <h3>Data Driven Form</h3>

  <form #f>

    <div class="form-group">
      <label for="nome">Nome:</label>
      <input placeholder="Evillyn Oliveira"
       type="text" class="form-control" id="nome">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input placeholder="evillyndsoliveiras@gmail.com"
       type="email" class="form-control" id="email">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  
  </form>

</div>
